// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Junction from "../../../index.js";

export declare namespace InsuranceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InsuranceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InsuranceClient.Options>;

    constructor(options: InsuranceClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Junction.SearchGetPayorInfoInsuranceRequest} request
     * @param {InsuranceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.insurance.searchGetPayorInfo({
     *         insuranceName: "insurance_name",
     *         provider: "change_healthcare",
     *         providerPayorId: "provider_payor_id"
     *     })
     */
    public searchGetPayorInfo(
        request: Junction.SearchGetPayorInfoInsuranceRequest = {},
        requestOptions?: InsuranceClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.ClientFacingPayorSearchResponse[]> {
        return core.HttpResponsePromise.fromPromise(this.__searchGetPayorInfo(request, requestOptions));
    }

    private async __searchGetPayorInfo(
        request: Junction.SearchGetPayorInfoInsuranceRequest = {},
        requestOptions?: InsuranceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.ClientFacingPayorSearchResponse[]>> {
        const { insuranceName, provider, providerPayorId } = request;
        const _queryParams: Record<string, unknown> = {
            insurance_name: insuranceName,
            provider:
                provider !== undefined
                    ? serializers.PayorCodeExternalProvider.jsonOrThrow(provider, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            provider_payor_id: providerPayorId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v3/insurance/search/payor",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.insurance.searchGetPayorInfo.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/insurance/search/payor");
    }

    /**
     * @deprecated
     *
     * @param {Junction.PayorSearchRequest} request
     * @param {InsuranceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.insurance.searchPayorInfo()
     */
    public searchPayorInfo(
        request: Junction.PayorSearchRequest = {},
        requestOptions?: InsuranceClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.ClientFacingPayorSearchResponseDeprecated[]> {
        return core.HttpResponsePromise.fromPromise(this.__searchPayorInfo(request, requestOptions));
    }

    private async __searchPayorInfo(
        request: Junction.PayorSearchRequest = {},
        requestOptions?: InsuranceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.ClientFacingPayorSearchResponseDeprecated[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v3/insurance/search/payor",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.PayorSearchRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.insurance.searchPayorInfo.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v3/insurance/search/payor");
    }

    /**
     * @param {Junction.SearchDiagnosisInsuranceRequest} request
     * @param {InsuranceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.insurance.searchDiagnosis({
     *         diagnosisQuery: "diagnosis_query"
     *     })
     */
    public searchDiagnosis(
        request: Junction.SearchDiagnosisInsuranceRequest,
        requestOptions?: InsuranceClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.ClientFacingDiagnosisInformation[]> {
        return core.HttpResponsePromise.fromPromise(this.__searchDiagnosis(request, requestOptions));
    }

    private async __searchDiagnosis(
        request: Junction.SearchDiagnosisInsuranceRequest,
        requestOptions?: InsuranceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.ClientFacingDiagnosisInformation[]>> {
        const { diagnosisQuery } = request;
        const _queryParams: Record<string, unknown> = {
            diagnosis_query: diagnosisQuery,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v3/insurance/search/diagnosis",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.insurance.searchDiagnosis.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v3/insurance/search/diagnosis",
        );
    }
}
