// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Junction from "../../../index.js";

export declare namespace IntrospectClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IntrospectClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IntrospectClient.Options>;

    constructor(options: IntrospectClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Junction.GetUserResourcesIntrospectRequest} request
     * @param {IntrospectClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.introspect.getUserResources({
     *         userId: "user_id",
     *         provider: "oura",
     *         userLimit: 1,
     *         cursor: "cursor",
     *         nextCursor: "next_cursor"
     *     })
     */
    public getUserResources(
        request: Junction.GetUserResourcesIntrospectRequest = {},
        requestOptions?: IntrospectClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.UserResourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUserResources(request, requestOptions));
    }

    private async __getUserResources(
        request: Junction.GetUserResourcesIntrospectRequest = {},
        requestOptions?: IntrospectClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.UserResourcesResponse>> {
        const { userId, provider, userLimit, cursor, nextCursor } = request;
        const _queryParams: Record<string, unknown> = {
            user_id: userId,
            provider:
                provider !== undefined
                    ? serializers.Providers.jsonOrThrow(provider, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            user_limit: userLimit,
            cursor,
            next_cursor: nextCursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v2/introspect/resources",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.UserResourcesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/introspect/resources");
    }

    /**
     * @param {Junction.GetUserHistoricalPullsIntrospectRequest} request
     * @param {IntrospectClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.introspect.getUserHistoricalPulls({
     *         userId: "user_id",
     *         provider: "oura",
     *         userLimit: 1,
     *         cursor: "cursor",
     *         nextCursor: "next_cursor"
     *     })
     */
    public getUserHistoricalPulls(
        request: Junction.GetUserHistoricalPullsIntrospectRequest = {},
        requestOptions?: IntrospectClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.UserHistoricalPullsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUserHistoricalPulls(request, requestOptions));
    }

    private async __getUserHistoricalPulls(
        request: Junction.GetUserHistoricalPullsIntrospectRequest = {},
        requestOptions?: IntrospectClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.UserHistoricalPullsResponse>> {
        const { userId, provider, userLimit, cursor, nextCursor } = request;
        const _queryParams: Record<string, unknown> = {
            user_id: userId,
            provider:
                provider !== undefined
                    ? serializers.Providers.jsonOrThrow(provider, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            user_limit: userLimit,
            cursor,
            next_cursor: nextCursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v2/introspect/historical_pull",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.UserHistoricalPullsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/introspect/historical_pull",
        );
    }
}
