// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Junction from "../../../index.js";

export declare namespace AggregateClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AggregateClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AggregateClient.Options>;

    constructor(options: AggregateClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Junction.QueryBatch} request
     * @param {AggregateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.aggregate.queryOne({
     *         userId: "user_id",
     *         timeframe: {
     *             type: "relative",
     *             anchor: "anchor",
     *             past: {
     *                 unit: "minute"
     *             }
     *         },
     *         queries: [{
     *                 select: [{
     *                         arg: {
     *                             sleep: "id"
     *                         },
     *                         func: "mean"
     *                     }]
     *             }]
     *     })
     */
    public queryOne(
        request: Junction.QueryBatch,
        requestOptions?: AggregateClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.AggregationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryOne(request, requestOptions));
    }

    private async __queryOne(
        request: Junction.QueryBatch,
        requestOptions?: AggregateClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.AggregationResponse>> {
        const { userId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ accept: "*/*" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                `aggregate/v1/user/${core.url.encodePathParam(userId)}/query`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.QueryBatch.jsonOrThrow(_body, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AggregationResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/aggregate/v1/user/{user_id}/query",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Junction.GetResultTableForContinuousQueryAggregateRequest} request
     * @param {AggregateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.aggregate.getResultTableForContinuousQuery({
     *         userId: "user_id",
     *         queryIdOrSlug: "query_id_or_slug"
     *     })
     */
    public getResultTableForContinuousQuery(
        request: Junction.GetResultTableForContinuousQueryAggregateRequest,
        requestOptions?: AggregateClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.AggregationResult> {
        return core.HttpResponsePromise.fromPromise(this.__getResultTableForContinuousQuery(request, requestOptions));
    }

    private async __getResultTableForContinuousQuery(
        request: Junction.GetResultTableForContinuousQueryAggregateRequest,
        requestOptions?: AggregateClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.AggregationResult>> {
        const { userId, queryIdOrSlug } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ accept: "*/*" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                `aggregate/v1/user/${core.url.encodePathParam(userId)}/continuous_query/${core.url.encodePathParam(queryIdOrSlug)}/result_table`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AggregationResult.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/aggregate/v1/user/{user_id}/continuous_query/{query_id_or_slug}/result_table",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Junction.GetTaskHistoryForContinuousQueryAggregateRequest} request
     * @param {AggregateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.aggregate.getTaskHistoryForContinuousQuery({
     *         userId: "user_id",
     *         queryIdOrSlug: "query_id_or_slug",
     *         nextCursor: "next_cursor",
     *         limit: 1
     *     })
     */
    public getTaskHistoryForContinuousQuery(
        request: Junction.GetTaskHistoryForContinuousQueryAggregateRequest,
        requestOptions?: AggregateClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.ContinuousQueryTaskHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTaskHistoryForContinuousQuery(request, requestOptions));
    }

    private async __getTaskHistoryForContinuousQuery(
        request: Junction.GetTaskHistoryForContinuousQueryAggregateRequest,
        requestOptions?: AggregateClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.ContinuousQueryTaskHistoryResponse>> {
        const { userId, queryIdOrSlug, nextCursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            next_cursor: nextCursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                `aggregate/v1/user/${core.url.encodePathParam(userId)}/continuous_query/${core.url.encodePathParam(queryIdOrSlug)}/task_history`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ContinuousQueryTaskHistoryResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/aggregate/v1/user/{user_id}/continuous_query/{query_id_or_slug}/task_history",
        );
    }
}
