// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Junction from "../../../index.js";

export declare namespace LabAccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LabAccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LabAccountClient.Options>;

    constructor(options: LabAccountClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Junction.GetTeamLabAccountsLabAccountRequest} request
     * @param {LabAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.labAccount.getTeamLabAccounts({
     *         labAccountId: "lab_account_id",
     *         status: "active"
     *     })
     */
    public getTeamLabAccounts(
        request: Junction.GetTeamLabAccountsLabAccountRequest = {},
        requestOptions?: LabAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.GetTeamLabAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTeamLabAccounts(request, requestOptions));
    }

    private async __getTeamLabAccounts(
        request: Junction.GetTeamLabAccountsLabAccountRequest = {},
        requestOptions?: LabAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.GetTeamLabAccountsResponse>> {
        const { labAccountId, status } = request;
        const _queryParams: Record<string, unknown> = {
            lab_account_id: labAccountId,
            status:
                status !== undefined
                    ? serializers.LabAccountStatus.jsonOrThrow(status, { unrecognizedObjectKeys: "strip" })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v3/lab_test/lab_account",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetTeamLabAccountsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/lab_test/lab_account");
    }
}
