// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Junction from "../../../index.js";

export declare namespace TeamClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TeamClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TeamClient.Options>;

    constructor(options: TeamClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @deprecated
     *
     * Get team.
     *
     * @param {Junction.GetTeamRequest} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.team.get({
     *         teamId: "team_id"
     *     })
     */
    public get(
        request: Junction.GetTeamRequest,
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.ClientFacingTeam> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Junction.GetTeamRequest,
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.ClientFacingTeam>> {
        const { teamId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                `v2/team/${core.url.encodePathParam(teamId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ClientFacingTeam.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/team/{team_id}");
    }

    /**
     * @deprecated
     *
     * Search team users by user_id
     *
     * @param {Junction.GetUserByIdTeamRequest} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.team.getUserById({
     *         queryId: "query_id"
     *     })
     */
    public getUserById(
        request: Junction.GetUserByIdTeamRequest = {},
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.ClientFacingUser[]> {
        return core.HttpResponsePromise.fromPromise(this.__getUserById(request, requestOptions));
    }

    private async __getUserById(
        request: Junction.GetUserByIdTeamRequest = {},
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.ClientFacingUser[]>> {
        const { queryId } = request;
        const _queryParams: Record<string, unknown> = {
            query_id: queryId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v2/team/users/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.team.getUserById.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/team/users/search");
    }

    /**
     * @deprecated
     *
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.team.getSvixUrl()
     */
    public getSvixUrl(requestOptions?: TeamClient.RequestOptions): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getSvixUrl(requestOptions));
    }

    private async __getSvixUrl(
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v2/team/svix/url",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.team.getSvixUrl.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.JunctionError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/team/svix/url");
    }

    /**
     * GET source priorities.
     *
     * @param {Junction.GetSourcePrioritiesTeamRequest} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.team.getSourcePriorities({
     *         dataType: "workouts"
     *     })
     */
    public getSourcePriorities(
        request: Junction.GetSourcePrioritiesTeamRequest = {},
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>[]> {
        return core.HttpResponsePromise.fromPromise(this.__getSourcePriorities(request, requestOptions));
    }

    private async __getSourcePriorities(
        request: Junction.GetSourcePrioritiesTeamRequest = {},
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>[]>> {
        const { dataType } = request;
        const _queryParams: Record<string, unknown> = {
            data_type:
                dataType !== undefined
                    ? serializers.PriorityResource.jsonOrThrow(dataType, { unrecognizedObjectKeys: "strip" })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v2/team/source/priorities",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.team.getSourcePriorities.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/team/source/priorities");
    }

    /**
     * Patch source priorities.
     *
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.team.updateSourcePriorities()
     */
    public updateSourcePriorities(
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>[]> {
        return core.HttpResponsePromise.fromPromise(this.__updateSourcePriorities(requestOptions));
    }

    private async __updateSourcePriorities(
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                "v2/team/source/priorities",
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.team.updateSourcePriorities.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.JunctionError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v2/team/source/priorities");
    }

    /**
     * @param {Junction.GetPhysiciansTeamRequest} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Junction.UnprocessableEntityError}
     *
     * @example
     *     await client.team.getPhysicians({
     *         teamId: "team_id"
     *     })
     */
    public getPhysicians(
        request: Junction.GetPhysiciansTeamRequest,
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Junction.ClientFacingPhysician[]> {
        return core.HttpResponsePromise.fromPromise(this.__getPhysicians(request, requestOptions));
    }

    private async __getPhysicians(
        request: Junction.GetPhysiciansTeamRequest,
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Junction.ClientFacingPhysician[]>> {
        const { teamId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.JunctionEnvironment.Production,
                `v2/team/${core.url.encodePathParam(teamId)}/physicians`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.team.getPhysicians.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Junction.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.JunctionError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/team/{team_id}/physicians");
    }
}
